@model List<HolaMundo.Models.Pelicula>

@{
    ViewBag.Title = "About";
    string nombre = "Isack";
    string apellido = "Munguia";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<h2>@nombre</h2>
<br>
<p>@apellido</p>

<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Duracion</th>
            <th>Pais</th>
            <th>Lanzamiento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Titulo</td>
                <td>@p.Duracion</td>
                <td>@p.Pais</td>
                <td>@p.Publicacion.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>